# Initially taken from Github's Python gitignore file

# Demo
/data
/checkpoints
!checkpoints/gitkeep
/runs
/creeper/__pycache__
/mrc/__pycache__
/mrc/.DS_Store
/rerank/__pycache__
/preprocess/.DS_Store
/.DS_Store
/models/__pycache__
/.vscode
/checkpoints.zip
